   .header{
       padding: auto;
       border: 50px;
       display: flex;
       align-items: center;
   }


ul {
    
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #00ffea21;
    font-family: 'Kanit', sans-serif;
    display: flex;
    float: right;
    
}

.span2 {
     background-image: url(../Images/wallpaperflare.com_wallpaper\ \(19\).jpg),url(../Images/wallpaperflare.com_wallpaper\ \(18\).jpg);
     background-size: 50%;
}

.h1 {
    margin-left: 50px;
    text-align: left;
    padding-right: 600px;
    float: left;
     
   }
.h4{
    font-family: 'Kanit', sans-serif;
}

 li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: greenyellow;
    font-size: 25px;
    margin-top: 15px;
}
li {
    float: right;
    
}
li a:hover {
    background-color: blue;
}
.active{
    background-color: green;
}

ul li:last-child{
    padding-right: 10px;
}
.box {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 1px 2px 3px blue;
    border-radius: 15px;
    
}
.img1 {
    width: 95%;
    border-radius: 30%;
    }

.span1 {
    width: 250%;
    background: linear-gradient(green,yellow); 
    
}
.vl {
    border-left: 1px dashed blue;
    height:200px;
    padding: 10px;
    
  }   

        div:hover {
            transform: scale(1.1);
        }
    .body {
        background-color: #BFFFF0;;
    } 
    
    
        
          