.h1 {
    text-decoration: underline;
}

.p1 {
    color: blue;
    font-size: 15px;
}

.p2 {
    color: green;
    font-size: 14px;
}

.li1 {
    color: aquamarine;
}
.li2 {
    color: crimson;
}

.li3 {
    color: gold;
}